@using UtilService
@using UtilService.Util
@model Domain.Entities.AtendimentoHistorico
@{
    ViewData["Title"] = "Visualizar Atendimento";
    Layout = "~/Areas/Administrativo/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12 top-bar">
        <a title="Clique aqui para ser direcionado a listagem de cadastro de atendimentos" class="btn btn-primary pull-right" href="@Url.Action("Index", "Atendimento", new { Area = "Administrativo" })"><i class="fa fa-th-list"></i> Listar</a>
    </div>
</div>
<fieldset>
    <legend>Dados de Idenficação</legend>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                @Html.LabelFor(x => x.Assistido.Assi_ID_Assistido, null, new { @class = "control-label" })
                <p>@Model.Assistido.Assi_ID_Assistido</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                @Html.LabelFor(x => x.Assistido.Assi_NM_Nome, null, new { @class = "control-label" })
                <p>@Model.Assistido.Assi_NM_Nome</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                @Html.Label("Tipo de Atendimento")
                @* @Html.LabelFor(x => x.TipoAtendimento.TpAt_NM_Descricao, null, new { @class = "control-label" }) *@
                @foreach (var item in Model.TipoAtendimento)
                {
                    <br />
                    @item.TpAt_NM_Descricao
                }
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Informações Extras</legend>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                @Html.LabelFor(x => x.Atendimento.Aten_TX_Observacao, null, new { @class = "control-label" })
                <p>@Model.Atendimento.Aten_TX_Observacao</p>
            </div>
        </div>
    </div>
</fieldset>
@section Scripts
{
    <script type="module" src="~/appjs/Administrativo/Atendimento/PageVisualizar.js"></script>
}

