@using UtilService
@using UtilService.Util
@model List<Domain.Entities.TurmaAlunoIndex>
@{
    ViewData["Title"] = "Lista de Alunos por Turmas";
    Layout = "~/Areas/Administrativo/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 top-bar">
        <a title="Clique aqui para adicionar um novo aluno por turma" class="btn btn-primary pull-right" href="@Url.Action("Adicionar", "TurmaAluno", new {Area = "Administrativo"})"><i class="fa fa-plus-circle"></i> Adicionar</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table  table-hover" width="100%" data-table="true">
            <thead>
                <tr>
                    <th>Turma</th>
                    <th>Aluno\Assistido</th>
                    <th>Perido\Ano Letivo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.TuAl_NM_Turma</td>
                        <td>@obj.TuAl_NM_Assistido</td>
                        <td>@obj.TuAl_CD_PeriodoLetivo \ @obj.TuAl_NR_AnoLetivo</td> 
                        <td>
                            @* 
                            <a class="btn btn-info" href="@Url.Action("Visualizar", "TurmaAluno", new {Area = "Administrativo", codAluno = obj.TuAl_ID_Assistido, periodoLetivo = obj.TuAl_CD_PeriodoLetivo, anoLetivo = obj.TuAl_NR_AnoLetivo })" title="Visualizar"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-info" href="@Url.Action("Editar", "TurmaAluno", new {Area = "Administrativo", codAluno = obj.TuAl_ID_Assistido, periodoLetivo = obj.TuAl_CD_PeriodoLetivo, anoLetivo = obj.TuAl_NR_AnoLetivo })" title="Editar"><i class="fa fa-edit"></i></a> 
                            *@
                            <a class="btn btn-info" href="@Url.Action("Deletar", "TurmaAluno", new {Area = "Administrativo", codAluno = obj.TuAl_ID_Assistido, periodoLetivo = obj.TuAl_CD_PeriodoLetivo, anoLetivo = obj.TuAl_NR_AnoLetivo })" title="Editar"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <thead>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
            </thead>
            <tfoot></tfoot>
        </table>
    </div>
</div>
