@using System.Web
@model Domain.Dtos.Usuario.Editar.Input.UsuarioEditarInModel
@{
    ViewData["Title"] = "Edição de usuário";
    Layout = "~/Areas/Administrativo/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Editar", "Usuario", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Codigo)
    @Html.HiddenFor(x => x.CodUsuarioAcao)
    <div class="row">
        <div class="col-md-12 top-bar">
            <a title="Clique aqui para ser direcionado a listagem de usuários" class="btn btn-primary pull-right" href="@Url.Action("Index", "Usuario", new {Area = "Administrativo"})"><i class="fa fa-th-list"></i> Usuários</a>
            <a title="Clique aqui para configurar o usuário" class="btn btn-primary pull-right" href="@Url.Action("Configuracoes", "Usuario", new {Area = "Administrativo", codUsuario = Model.Codigo})"><i class="fa fa-gear"></i> Configurações</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(null, new { @class = "alert alert-danger escondido", validator = "true" })
        </div>
    </div>
    <fieldset>
        <legend>Nível de acesso</legend>
        <div class="row">
            <div class="col-xs-12  col-sm-6 col-md-4">
                <div class="form-group" disabled>
                    @Html.LabelFor(x => x.CodTipoUsuario, null, new { @class = "control-label" })
                    @Html.DropDownListFor(x => x.CodTipoUsuario, (IEnumerable<SelectListItem>)ViewData["TipoUsuario"], string.Empty, new { @class = "form-control", id = "ddlTipoUsuario" })
                    @Html.ValidationMessageFor(x => x.CodTipoUsuario, null, new { @class = "alerta-campo" })
                </div>
                <div class="alert alert-danger" start-hide="true" id="displayTipoDiferente">
                    <p>
                        <b>Atenção</b><br/>
                        Alterações no tipo do usuário impactam diretamente nas permissões associadas ao usuário. Ao selecionar um tipo de usuário diferente, as permissões do usuário @Model.Nome serão redefinidas para o perfil do tipo de usuário selecionado.
                    </p>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Login</legend>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.Codigo)
                    <p>@Html.DisplayFor(x => x.Codigo)</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.Email, null, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control text-lowercase", autopesquisa = Url.Action("PesquisaUsuarioEmail", "Usuario"), codigoRef = Model.Codigo, id = "txtEmail", placeholder = Html.DisplayNameFor(x => x.Email) })
                    @Html.ValidationMessageFor(x => x.Email, null, new { @class = "alerta-campo" })
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Identificadores</legend>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.Nome, null, new {@class = "control-label"})
                    @Html.TextBoxFor(x => x.Nome, new {@class = "form-control", autopesquisa = Url.Action("PesquisaUsuarioNome", "Usuario"), codigoRef = Model.Codigo, id = "txtNome", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.Nome))})
                    @Html.ValidationMessageFor(x => x.Nome, null, new {@class = "alerta-campo"})
                </div>
            </div>
        </div>
    </fieldset>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-primary btn-success" title="Clique aqui para salvar as alterações das informações no cadastro do usuário."><i class="fa fa-check"></i> Salvar</button>
        </div>
    </div>
}